# Ignore large data files
processed_data/
data/

# Ignore any other large files
*.log
*.tmp

# Ignore large figure libraries
figures/

# Ignore MacOS system files
.DS_Store

# Ignore Python cache files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/




your_file_pattern
